Understanding timeseries

In [75]:
import os
import sys
import json
import zipfile
import numpy as np
import pandas as pd
from urllib.request import urlretrieve

In [11]:
DATA_HOST = "https://archive.ics.uci.edu"
DATA_PATH = "/ml/machine-learning-databases/00321/"
ARCHIVE_NAME = "LD2011_2014.txt.zip"
FILE_NAME = ARCHIVE_NAME[:-4]

def progress_report_hook(count, block_size, total_size):
    mb = int(count * block_size // 1e6)
    if count % 500 == 0:
        sys.stdout.write("\r{} MB downloaded".format(mb))
        sys.stdout.flush()

if not os.path.isfile(FILE_NAME):
    print("downloading dataset (258MB), can take a few minutes depending on your connection")
    urlretrieve(DATA_HOST + DATA_PATH + ARCHIVE_NAME, ARCHIVE_NAME, reporthook=progress_report_hook)

    print("\nextracting data archive")
    zip_ref = zipfile.ZipFile(ARCHIVE_NAME, 'r')
    zip_ref.extractall("./")
    zip_ref.close()
else:
    print("File found skipping download")

File found skipping download

In [13]:
data = pd.read_csv(FILE_NAME, sep=";", index_col=0, parse_dates=True, decimal=',')

<bound method NDFrame.head of                        MT_001     MT_002    MT_003      MT_004     MT_005  \
2011-01-01 00:15:00  0.000000   0.000000  0.000000    0.000000   0.000000
2011-01-01 00:30:00  0.000000   0.000000  0.000000    0.000000   0.000000
2011-01-01 00:45:00  0.000000   0.000000  0.000000    0.000000   0.000000
2011-01-01 01:00:00  0.000000   0.000000  0.000000    0.000000   0.000000
2011-01-01 01:15:00  0.000000   0.000000  0.000000    0.000000   0.000000
...                       ...        ...       ...         ...        ...
2014-12-31 23:00:00  2.538071  22.048364  1.737619  150.406504  85.365854
2014-12-31 23:15:00  2.538071  21.337127  1.737619  166.666667  81.707317
2014-12-31 23:30:00  2.538071  20.625889  1.737619  162.601626  82.926829
2014-12-31 23:45:00  1.269036  21.337127  1.737619  166.666667  85.365854
2015-01-01 00:00:00  2.538071  19.914651  1.737619  178.861789  84.146341

                         MT_006     MT_007      MT_008     MT_009     MT_010  \
2011-01-01 00:15:00    0.000000   0.000000    0.000000   0.000000   0.000000
2011-01-01 00:30:00    0.000000   0.000000    0.000000   0.000000   0.000000
2011-01-01 00:45:00    0.000000   0.000000    0.000000   0.000000   0.000000
2011-01-01 01:00:00    0.000000   0.000000    0.000000   0.000000   0.000000
2011-01-01 01:15:00    0.000000   0.000000    0.000000   0.000000   0.000000
...                         ...        ...         ...        ...        ...
2014-12-31 23:00:00  303.571429  11.305822  282.828283  68.181818  72.043011
2014-12-31 23:15:00  324.404762  11.305822  252.525253  64.685315  72.043011
2014-12-31 23:30:00  318.452381  10.175240  242.424242  61.188811  74.193548
2014-12-31 23:45:00  285.714286  10.175240  225.589226  64.685315  72.043011
2015-01-01 00:00:00  279.761905  10.175240  249.158249  62.937063  69.892473

                     ...      MT_361   MT_362       MT_363       MT_364  \
2011-01-01 00:15:00  ...    0.000000      0.0     0.000000     0.000000
2011-01-01 00:30:00  ...    0.000000      0.0     0.000000     0.000000
2011-01-01 00:45:00  ...    0.000000      0.0     0.000000     0.000000
2011-01-01 01:00:00  ...    0.000000      0.0     0.000000     0.000000
2011-01-01 01:15:00  ...    0.000000      0.0     0.000000     0.000000
...                  ...         ...      ...          ...          ...
2014-12-31 23:00:00  ...  276.945039  28200.0  1616.033755  1363.636364
2014-12-31 23:15:00  ...  279.800143  28300.0  1569.620253  1340.909091
2014-12-31 23:30:00  ...  284.796574  27800.0  1556.962025  1318.181818
2014-12-31 23:45:00  ...  246.252677  28000.0  1443.037975   909.090909
2015-01-01 00:00:00  ...  188.436831  27800.0  1409.282700   954.545455

                        MT_365    MT_366      MT_367      MT_368      MT_369  \
2011-01-01 00:15:00   0.000000  0.000000    0.000000    0.000000    0.000000
2011-01-01 00:30:00   0.000000  0.000000    0.000000    0.000000    0.000000
2011-01-01 00:45:00   0.000000  0.000000    0.000000    0.000000    0.000000
2011-01-01 01:00:00   0.000000  0.000000    0.000000    0.000000    0.000000
2011-01-01 01:15:00   0.000000  0.000000    0.000000    0.000000    0.000000
...                        ...       ...         ...         ...         ...
2014-12-31 23:00:00  29.986962  5.851375  697.102722  176.961603  651.026393
2014-12-31 23:15:00  29.986962  9.947338  671.641791  168.614357  669.354839
2014-12-31 23:30:00  27.379400  9.362200  670.763828  153.589316  670.087977
2014-12-31 23:45:00  26.075619  4.095963  664.618086  146.911519  646.627566
2015-01-01 00:00:00  27.379400  4.095963  628.621598  131.886477  673.020528

                          MT_370
2011-01-01 00:15:00     0.000000
2011-01-01 00:30:00     0.000000
2011-01-01 00:45:00     0.000000
2011-01-01 01:00:00     0.000000
2011-01-01 01:15:00     0.000000
...                          ...
2014-12-31 23:00:00  7621.621622
2014-12-31 23:15:00  6702.702703
2014-12-31 23:30:00  6864.864865
2014-12-31 23:45:00  6540.540541
2015-01-01 00:00:00  7135.135135

[140256 rows x 370 columns]>

In [16]:
print(data.shape)
print(data.describe())
# print(data.head)

(140256, 370)
              MT_001         MT_002         MT_003         MT_004  \
count  140256.000000  140256.000000  140256.000000  140256.000000
mean        3.970785      20.768480       2.918308      82.184490
std         5.983965      13.272415      11.014456      58.248392
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       2.844950       0.000000      36.585366
50%         1.269036      24.893314       1.737619      87.398374
75%         2.538071      29.871977       1.737619     115.853659
max        48.223350     115.220484     151.172893     321.138211

              MT_005         MT_006         MT_007         MT_008  \
count  140256.000000  140256.000000  140256.000000  140256.000000
mean       37.240309     141.227385       4.521338     191.401476
std        26.461327      98.439984       6.485684     121.981187
min         0.000000       0.000000       0.000000       0.000000
25%        15.853659      71.428571       0.565291     111.111111
50%        39.024390     157.738095       2.826456     222.222222
75%        54.878049     205.357143       4.522329     279.461279
max       150.000000     535.714286      44.657999     552.188552

              MT_009         MT_010  ...         MT_361         MT_362  \
count  140256.000000  140256.000000  ...  140256.000000  140256.000000
mean       39.975354      42.205152  ...     218.213701   37607.987537
std        29.814595      33.401251  ...     204.833532   38691.954832
min         0.000000       0.000000  ...       0.000000       0.000000
25%        13.986014       9.677419  ...       5.710207       0.000000
50%        40.209790      40.860215  ...     131.334761   24100.000000
75%        57.692308      61.290323  ...     403.283369   54800.000000
max       157.342657     198.924731  ...     852.962170  192800.000000

              MT_363         MT_364         MT_365         MT_366  \
count  140256.000000  140256.000000  140256.000000  140256.000000
mean     1887.427366    2940.031734      65.413150       9.269709
std      1801.486488    2732.251967      65.007818      10.016782
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000      13.037810       0.000000
50%      1050.632911    2136.363636      31.290743       7.021650
75%      3312.236287    5363.636364     108.213820      11.702750
max      7751.054852   12386.363636     335.071708      60.269163

              MT_367         MT_368         MT_369         MT_370
count  140256.000000  140256.000000  140256.000000  140256.000000
mean      424.262904      94.704717     625.251734    8722.355145
std       274.337122      80.297301     380.656042    9195.155777
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000      30.050083      83.944282       0.000000
50%       525.899912      76.794658     758.064516       0.000000
75%       627.743635     151.919866     875.366569   17783.783784
max      1138.718174     362.270451    1549.120235   30918.918919

[8 rows x 370 columns]

In [19]:
print(data.head(2))

                     MT_001  MT_002  MT_003  MT_004  MT_005  MT_006  MT_007  \
2011-01-01 00:15:00     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2011-01-01 00:30:00     0.0     0.0     0.0     0.0     0.0     0.0     0.0

                     MT_008  MT_009  MT_010  ...  MT_361  MT_362  MT_363  \
2011-01-01 00:15:00     0.0     0.0     0.0  ...     0.0     0.0     0.0
2011-01-01 00:30:00     0.0     0.0     0.0  ...     0.0     0.0     0.0

                     MT_364  MT_365  MT_366  MT_367  MT_368  MT_369  MT_370
2011-01-01 00:15:00     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2011-01-01 00:30:00     0.0     0.0     0.0     0.0     0.0     0.0     0.0

[2 rows x 370 columns]

In [12]:
num_timeseries = data.shape[1]
data_kw = data.resample('2H').sum() / 8
timeseries = []
for i in range(num_timeseries):
    timeseries.append(np.trim_zeros(data_kw.iloc[:,i], trim='f'))

In [30]:
timeseries[1]

2012-01-01 00:00:00    19.825747
2012-01-01 02:00:00    22.848506
2012-01-01 04:00:00    21.959459
2012-01-01 06:00:00    22.137269
2012-01-01 08:00:00    22.581792
                         ...
2014-12-31 16:00:00    28.538407
2014-12-31 18:00:00    28.449502
2014-12-31 20:00:00    24.004267
2014-12-31 22:00:00    21.692745
2015-01-01 00:00:00     2.489331
Freq: 2H, Name: MT_002, Length: 13153, dtype: float64

In [39]:
# First and last dates
print(timeseries[0].index[0])
print(timeseries[-1].index[-1])

2012-01-01 00:00:00
2015-01-01 00:00:00

In [33]:
freq = '2H'
prediction_length = 7 * 12
context_length = 7 * 12
start_dataset = pd.Timestamp("2014-01-01 00:00:00", freq=freq)
end_training = pd.Timestamp("2014-09-01 00:00:00", freq=freq)

In [44]:
# timeseries.index.get_loc(timeseries.loc[:,:,'2014-09-01'].index[0])
type(timeseries)

list

In [68]:
start_training_idx = 0
# Get 1st instance of first row in training series
for end_training_idx, row in enumerate(timeseries[0].index):
    if row == start_dataset:
        print(i, row) 

# Get 1st instance of last row in training series
end_training_idx = 0
for end_training_idx, row in enumerate(timeseries[0].index):
    if row == end_training:
        print(i, row) 
end_training_idx -= 1 # Decrement is required becuase the list offset would include the 1st row of test set
print(timeseries[0].index[end_training_idx])

13152 2014-01-01 00:00:00
13152 2014-09-01 00:00:00
2014-12-31 22:00:00

In [69]:
training_data = [
    {
        "start": str(start_dataset),
        "target": ts[start_training_idx:end_training_idx].tolist()  # We use -1, because pandas indexing includes the upper bound 
    }
    for ts in timeseries
]
print(len(training_data))

370

In [70]:
num_test_windows = 4

test_data = [
    {
        "start": str(start_dataset),
        "target": ts[start_training_idx:end_training_idx + k * prediction_length].tolist()
    }
    for k in range(1, num_test_windows + 1) 
    for ts in timeseries
]
print(len(test_data))

1480

In [73]:
def write_dicts_to_file(path, data):
    with open(path, 'wb') as fp:
        for d in data:
            fp.write(json.dumps(d).encode("utf-8"))
            fp.write("\n".encode('utf-8'))

In [76]:
%%time
write_dicts_to_file("train.json", training_data)
write_dicts_to_file("test.json", test_data)

CPU times: user 14.1 s, sys: 146 ms, total: 14.2 s
Wall time: 14.3 s

In [78]:
!ls -lh

total 2813448
-rw-r--r--  1 k  staff   678M May 25 10:14 LD2011_2014.txt
-rw-r--r--  1 k  staff   249M May 25 10:13 LD2011_2014.txt.zip
-rw-r--r--  1 k  staff    18K May 25 21:31 TSbreakdown.ipynb
drwxr-xr-x  3 k  staff    96B May 25 10:14 __MACOSX
-rw-r--r--  1 k  staff   543B Jan 20 10:48 findInDir.js
-rw-r--r--  1 k  staff   333M May 25 21:31 test.json
-rw-r--r--  1 k  staff    83M May 25 21:31 train.json